
<p>The Pangolin (a.k.a. the "Scaly Anteater") is one of the most unique and fascinating creatures on the planet.</p>

<p><strong>Pop Quiz: Why are Pangolins so cool?</strong></p>
<ul>
    <li>A: They roll into a tight ball when threatened (like a pinecone!)</li>
    <li>B: Their tongues can be longer than their bodies</li>
    <li>C: They have no teeth, but powerful stomachs</li>
    <li>D: They carry their babies on their tails</li>
    <li>E: All of the above (It's definitely E)</li>
</ul>
